<phpunit
        bootstrap="bootstrap.php"
        backupGlobals="false"
        beStrictAboutOutputDuringTests="true"
        colors="true"
        failOnWarning="true"
        beStrictAboutTestsThatDoNotTestAnything="false"
        failOnRisky="false"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnAllIssues="true"
>
    <testsuites>
        <testsuite name="acceptance">
            <directory suffix="Test.php">acceptance</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="Test.php">unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
